<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav class="no-print">
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="/image-search">
        <mat-icon>search</mat-icon>
        <span>Image search</span>
      </a>
      <!-- <a mat-list-item routerLink="/notebook">
        <mat-icon>view_list</mat-icon>
        <span>Notebook</span>
      </a> -->
      <a mat-list-item routerLink="/auth/login" *ngIf="!(isLoggedIn$ | async)">
        <mat-icon>account_circle</mat-icon>
        <span>Login</span>
      </a>
      <a mat-list-item routerLink="/auth/logout" *ngIf="(isLoggedIn$ | async)">
        <mat-icon>toggle_off</mat-icon>
        <span>Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar class="no-print">
    <button class="menu-button" mat-icon-button (click)="sidenav.open('mouse')">
      <mat-icon>menu</mat-icon>
    </button>
    <span>IRIS Image Index Demo</span>
  </mat-toolbar>

  <app-alert-display></app-alert-display>
  
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  
</mat-sidenav-container>
