<div *ngIf="cellStatus === 'result'">
  <!-- <div (dblclick)="onResultDblClick($event)" class="no-print">Click to edit</div> -->
  <mat-sidenav-container style="max-height: 450px">
    <mat-sidenav
      #sidenav
      [mode]="'over'"
      [style.background-color]="isExpanded ? '' : 'transparent'"
      [style.max-height]="isExpanded ? '' : '40px'"
      style="overflow-y: auto"
      position="end"
      (openedStart)="isExpanded = true"
      (closedStart)="isExpanded = false"
    >
      <button
        mat-icon-button
        class="no-print"
        (click)="sidenav.toggle(); isExpanded = !isExpanded"
      >
        <mat-icon>settings</mat-icon>
      </button>
      <div *ngIf="isExpanded" style="padding-left: 15px">
        <!-- Source selector -->
        <mat-form-field style="min-width: 50%; margin-right: 10px">
          <input
            type="text"
            placeholder="Cube/Subject Area"
            aria-label="Number"
            matInput
            [formControl]="sourceInput"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="displayWith()"
            (optionSelected)="onSelectSource($event)"
          >
            <mat-option
              *ngFor="let source of sources$ | async"
              [value]="source"
            >
              {{ source.displayName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <!-- Pivot view toggle -->
        <mat-button-toggle-group [(value)]="pivotView" style="margin-right: 8px;">
          <mat-button-toggle value="table">Table</mat-button-toggle>
          <mat-button-toggle value="chart">Chart</mat-button-toggle>
        </mat-button-toggle-group>
        <!-- Chart type -->
        <mat-form-field appearance="standard" *ngIf="pivotView === 'chart'">
          <mat-label>Chart type</mat-label>
          <mat-select (selectionChange)="changeChartType($event)" [(value)]="currChartType">
            <mat-option
              *ngFor="let chartType of chartTypes"
              [value]="chartType.value"
            >
              {{ chartType.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Drag'n'drop query definition -->
        <div cdkDropListGroup>
          <div class="pivot-items-available">
            <div class="dragdrop-container">
              <h6>Dimensions</h6>
              <div
                cdkDropList
                [cdkDropListData]="dimensionsAvailable"
                class="dragdrop-list dimensions-list"
                (cdkDropListDropped)="drop($event)"
                [cdkDropListEnterPredicate]="dropDimensionsPredicate"
              >
                <div
                  class="dragdrop-box"
                  *ngFor="let item of dimensionsAvailable"
                  cdkDrag
                  [cdkDragData]="item"
                >
                  {{ item.value }}
                </div>
              </div>
            </div>
            <div class="dragdrop-container">
              <h6>Measures</h6>
              <div
                cdkDropList
                [cdkDropListData]="measuresAvailable"
                class="dragdrop-list measures-list"
                (cdkDropListDropped)="drop($event)"
                [cdkDropListEnterPredicate]="dropMeasuresAvailablePredicate"
              >
                <div
                  class="dragdrop-box"
                  *ngFor="let item of measuresAvailable"
                  cdkDrag
                  [cdkDragData]="item"
                >
                  {{ item.value }}
                </div>
              </div>
            </div>
          </div>
          <div class="pivot-config">
            <div class="dragdrop-container">
              <h6>
                Rows
                <button mat-icon-button class="small-icon-button">
                  <mat-icon (click)="remove('rows')"
                    >remove_circle_outline</mat-icon
                  >
                </button>
              </h6>
              <div
                cdkDropList
                [cdkDropListData]="rows"
                class="dragdrop-list"
                (cdkDropListDropped)="drop($event)"
                [cdkDropListEnterPredicate]="dropRowsPredicate"
              >
                <div
                  class="dragdrop-box"
                  *ngFor="let item of rows; let idx = index"
                  cdkDrag
                  [cdkDragData]="item"
                >
                  {{ item.value }}
                  <button mat-icon-button class="small-icon-button">
                    <mat-icon (click)="remove('rows', idx)"
                      >remove_circle_outline</mat-icon
                    >
                  </button>
                </div>
              </div>
            </div>
            <div class="dragdrop-container">
              <h6>
                Cols
                <button
                  mat-icon-button
                  class="small-icon-button"
                  (click)="remove('cols')"
                >
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>
              </h6>
              <div
                cdkDropList
                [cdkDropListData]="cols"
                class="dragdrop-list"
                (cdkDropListDropped)="drop($event)"
                [cdkDropListEnterPredicate]="dropColsPredicate"
              >
                <div
                  class="dragdrop-box"
                  *ngFor="let item of cols; let idx = index"
                  cdkDrag
                  [cdkDragData]="item"
                >
                  {{ item.value }}
                  <button mat-icon-button class="small-icon-button">
                    <mat-icon (click)="remove('cols', idx)"
                      >remove_circle_outline</mat-icon
                    >
                  </button>
                </div>
              </div>
            </div>
            <div class="dragdrop-container">
              <h6>
                Measures
                <button
                  mat-icon-button
                  class="small-icon-button"
                  (click)="remove('measures')"
                >
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>
              </h6>
              <div
                cdkDropList
                [cdkDropListData]="measures"
                class="dragdrop-list"
                (cdkDropListDropped)="drop($event)"
                [cdkDropListEnterPredicate]="dropMeasuresPredicate"
              >
                <div
                  class="dragdrop-box"
                  *ngFor="let item of measures; let idx = index"
                  cdkDrag
                  [cdkDragData]="item"
                >
                  {{ item.value }}
                  <button mat-icon-button class="small-icon-button">
                    <mat-icon (click)="remove('measures', idx)"
                      >remove_circle_outline</mat-icon
                    >
                  </button>
                </div>
              </div>
            </div>
            <div class="dragdrop-container">
              <h6>
                Filters
                <button
                  mat-icon-button
                  class="small-icon-button"
                  (click)="remove('filters')"
                >
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>
              </h6>
              <div
                cdkDropList
                [cdkDropListData]="filters"
                class="dragdrop-list"
                (cdkDropListDropped)="drop($event)"
                [cdkDropListEnterPredicate]="dropFiltersPredicate"
              >
                <div
                  class="dragdrop-box"
                  *ngFor="let item of filters; let idx = index"
                  cdkDrag
                  [cdkDragData]="item"
                >
                  <mat-form-field appearance="standard">
                    <mat-label>{{ item.value }}</mat-label>
                    <mat-select
                      multiple
                      [formControl]="item.data.formControl"
                      [compareWith]="compareFilters"
                      (openedChange)="onSelectFilter($event)"
                      (selectionChange)="onFilterSelectionChange($event, item)"
                    >
                      <mat-select-trigger>
                        {{
                          item.data.formControl.value
                            ? item.data.formControl.value[0]?.text
                            : ""
                        }}
                        <span
                          *ngIf="item.data.formControl.value?.length > 1"
                          class="select-additional-selection"
                        >
                          (+{{ item.data.formControl.value.length - 1 }}
                          {{
                            item.data.formControl.value?.length === 2
                              ? "other"
                              : "others"
                          }})
                        </span>
                      </mat-select-trigger>
                      <mat-option
                        *ngFor="let option of item.data.options"
                        [value]="option"
                      >
                        {{ option.text }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br />
                  <button mat-icon-button class="small-icon-button">
                    <mat-icon (click)="remove('filters', idx)">
                      remove_circle_outline
                    </mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content [style.overflow]="isExpanded ? '' : 'hidden'">
      <div>
        <!-- Table -->
        <div
          class="table-container mat-elevation-z8"
          *ngIf="pivotView === 'table'"
        >
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container *ngFor="let headerColumns of aditionalColumns">
              <ng-container
                *ngFor="let headerColumn of headerColumns"
                [matColumnDef]="headerColumn.name"
                [sticky]="headerColumn.type === 'rowCaptionColumn'"
              >
                <mat-header-cell
                  *matHeaderCellDef
                  [attr.colspan]="24"
                  mat-sort-header
                >
                  {{ headerColumn.caption }}
                </mat-header-cell>
              </ng-container>
            </ng-container>
            <ng-container
              *ngFor="let column of defaultColumns"
              [matColumnDef]="column.name"
              [sticky]="column.type === 'rowCaptionColumn'"
            >
              <mat-header-cell
                *matHeaderCellDef
                [attr.colspan]="1"
                mat-sort-header
              >
                {{ column.caption }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{
                  (element[column.name] || {}).hasOwnProperty("ValueFormatted")
                    ? element[column.name].ValueFormatted
                    : (element[column.name]?.value || [column.name, element]
                      | json)
                }}
              </mat-cell>
            </ng-container>

            <ng-container *ngFor="let teste of aditionalColumnsNames">
              <mat-header-row
                *matHeaderRowDef="teste; sticky: true"
              ></mat-header-row>
            </ng-container>
            <mat-header-row
              *matHeaderRowDef="defaultColumnsNames; sticky: true"
            ></mat-header-row>

            <mat-row
              *matRowDef="let row; columns: defaultColumnsNames"
            ></mat-row>
            <!-- Row shown when there is no matching data. -->
            <mat-row *matNoDataRow
              >No data matching the filter "{{ input?.value }}"</mat-row
            >
          </mat-table>
        </div>
        <!-- Table paginator -->
        <div style="clear: both" class="no-print">
          <mat-form-field *ngIf="pivotView === 'table'" style="float: left">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyTableFilter($event)" #input />
          </mat-form-field>
          <mat-paginator
            [pageSizeOptions]="[5, 10, 25, 100]"
            *ngIf="pivotView === 'table'"
          ></mat-paginator>
        </div>
        <!-- Chart -->
        <div id="chart" *ngIf="pivotView === 'chart'">
          <apx-chart #chart
            *ngIf="isDataOkForChart"
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [yaxis]="chartOptions.yaxis"
            [xaxis]="chartOptions.xaxis"
            [labels]="chartOptions.labels"
            [stroke]="chartOptions.stroke"
            [plotOptions]="chartOptions.plotOptions"
            [markers]="chartOptions.markers"
            [fill]="chartOptions.fill"
            [tooltip]="chartOptions.tooltip"
          ></apx-chart>
          <span *ngIf="!isDataOkForChart"
            >Sorry, chart for such pivot configuration isn't supported yet...
            Stay tunned for upgrades!</span
          >
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<mat-form-field
  class="source-textarea"
  appearance="outline"
  *ngIf="cellStatus === 'edit'"
>
  <mat-label>Source</mat-label>
  <textarea
    #textarea
    autofocus
    matInput
    matTextareaAutosize
    matAutosizeMinRows="5"
    matAutosizeMaxRows="10"
    [(ngModel)]="value"
    (keydown.control.enter)="onSourceCtrlEnter($event)"
    (keydown.esc)="onSourceEsc($event)"
  ></textarea>
</mat-form-field>
