/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-content {
  margin-top: 10px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//////////////
// mat-button
.small-icon-button {
  width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;

  .mat-icon {
    width: 16px !important;
    height: 16px !important;
    line-height: 16px !important;
  }
  .material-icons {
    font-size: 16px !important;
  }
}

.mat-button:focus {
  outline: none;
}

.mat-icon-button:focus {
  outline: none;
}

.mat-button-toggle-button:focus {
  outline: none;
}

button[role="menuitem"] {
  outline: none;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.spinner-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.spinner-container > mat-spinner {
  margin-left: auto;
  margin-right: auto;
}

@media print {
//   body,
//   html,
//   #wrapper {
//     width: 100%;
//     height: 100%;
//   }

//   @page {
//     size: landscape;
//   }

  .no-print,
  .no-print * {
    display: none !important;
  }
}
